.container-fluid {
	padding-left: .1rem;
	padding-right: .1rem;
}

.card {
	margin-bottom: .1rem;
}

.card-header {
	color: #555;
	padding: 0rem .5rem;
	font-size: .8rem;
}

.col {
	margin: .1rem;
}

.col-2>div, .col-4>div {
	margin: .1rem;
}

.col-5>.btn-group {
	padding: .1rem;
}

.ttl {
	font-size: .8rem;
	margin-bottom: -.2rem;
	padding-left: .5rem !important;
}

.btn {
	padding: .5rem 0rem;
}

.btn:active {
	border: none !important;
}

.dropdown-toggle:active {
	border: none !important;
}

.dropdown-toggle {
	width: 20%;
}

.input-group>span, .input-group>input {
	padding: 0rem .5rem;
}

.btn-cmd {
	border-width: .2rem;
	font-weight: 500;
	background-color: white;
	/*padding: .25rem;*/
}

.btn-cmd-back {
	border-color: #ff9900;
	color: #ff9900;
}

.btn-cmd-new {
	height: 6rem !important;
	white-space: normal;
	word-wrap: break-word;
	border-color: #32cd32;
	color: #32cd32;
}

.btn-conso-beer {
	background-color: #ffe066;
}

.ttl-conso-beer {
	border-color: #cca300;
	color: #cca300;
}

.drp-conso-beer {
	background-color: #ffeb99;
}

.btn-conso-vin {
	background-color: #b3ff66;
}

.drp-conso-vin {
	background-color: #ccff99;
}

.ttl-conso-vin {
	border-color: #4d9900;
	color: #4d9900;
}

.btn-conso-soft {
	background-color: #ff99bb;
}

.drp-conso-soft {
	background-color: #ffccdd;
}

.ttl-conso-soft {
	color: #990033;
	border-color: #990033;
}

.btn-group-conso-eau {
	margin: 0rem !important;
	padding: 0rem .05rem 0rem .1rem;
}

.btn-conso-eau {
	padding: 1.15rem 0rem;
	background-color: #66b3ff
}

.drp-conso-eau {
	background-color: #99ccff;
}

.ttl-consigne {
	border-color: #ff5c33;
	color: #ff5c33;
}

.btn-consigne {
	background-color: #ff5c33;
}

.drp-consigne {
	background-color: #ff8566;
}

.btn-client {
	background-color: #ffb366;
}