html, body {
	height: 100%;
}

.container-fluid {
	height: 100%;
	padding-left: .1rem;
	padding-right: .1rem;
}

.fullh {
	height: 100%;
}

.btn-block {
	height: 100%;
}

.blck-16 {
	height: 16.666%;
}

.blck-20 {
	height: 20%;
}

.blck-25 {
	height: 25%;
}

.blck-33 {
	height: 33.333%;
}

.blck-60 {
	height: 60%;
}

.card {
	height: 100%;
	margin-bottom: .1rem;
}

.card-header {
	color: #555;
	padding: 0rem .5rem;
	font-size: .8rem;
}

.col {
	height: 100%;
	margin: 0 .1rem 0 .1rem;
	padding: .1rem 0 .1rem 0;
}

.col-5>.btn-group {
	padding: .1rem;
}

.ttl {
	font-size: .8rem;
	height: 20%;
	padding-left: .5rem !important;
}

.cntnt {
	height: 80%
}

.btn {
	padding: .5rem 0rem;
}

.btn:active {
	border: none !important;
}

.dropdown-toggle:active {
	border: none !important;
}

.dropdown-toggle {
	width: 20%;
}

.input-group>span, .input-group>input {
	padding: 0rem .5rem;
}

.btn-cmd {
	border-width: .2rem;
	font-weight: 500;
	background-color: white;
	/*padding: .25rem;*/
}

.btn-cmd-back {
	border-color: #ff9900;
	color: #ff9900;
}

.btn-cmd-new {
	white-space: normal;
	word-wrap: break-word;
	border-color: #32cd32;
	color: #32cd32;
}

.btn-conso-beer {
	background-color: #ffe066;
}

.ttl-conso-beer {
	border-color: #cca300;
	color: #cca300;
}

.drp-conso-beer {
	background-color: #ffeb99;
}

.btn-conso-vin {
	background-color: #b3ff66;
}

.drp-conso-vin {
	background-color: #ccff99;
}

.ttl-conso-vin {
	border-color: #4d9900;
	color: #4d9900;
}

.btn-conso-soft {
	background-color: #ff99bb;
}

.drp-conso-soft {
	background-color: #ffccdd;
}

.ttl-conso-soft {
	border-color: #990033;
	color: #990033;
}

.btn-group-conso-eau {
	margin: 0rem !important;
	padding: 0rem .05rem 0rem .1rem;
}

.btn-conso-eau {
	background-color: #66b3ff
}

.drp-conso-eau {
	background-color: #99ccff;
}

.ttl-consigne {
	border-color: #ff5c33;
	color: #ff5c33;
}

.btn-consigne {
	background-color: #ff5c33;
}

.drp-consigne {
	background-color: #ff8566;
}

.montant-client {
	background-color: #84e184;
}

.box-montant {
	display: table;
	width: 100%;
	border-radius: .25rem;
	padding: .1rem;
}

.ttl-montant {
	display: table-cell;
	vertical-align: middle;
	padding-left: .5rem;
	height: 100%;
	border-radius: .25rem;
}

.rendu-client {
	background-color: #e6e6e6;
}

.btn-client {
	background-color: #ffb366 !important;
}

.btn-client-clr {
	border-width: .2rem;
	background-color: white;
	border-color: #ffb366;
	color: #ffb366;
}